.Nut {
  background: #6fadca;
  border-color:  #6fadca;
  color: black;
  border-radius: 15px;
  border-radius: 15px 15px;
  border-radius: 15px 15px 15px;
  border-radius: 15px 15px 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.Nut:hover{
  background: #A9D2FF;
  color: #000;
  border-color: #A9D2FF;
}
.form {
  border-radius: 20px;
  border-radius: 20px 20px;
  border-radius: 20px 20px 20px;
  border-radius: 20px 20px 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20x;
}
/* /////////// */
.vitri{
margin: auto;
margin-top: 8em;
max-width: 1000px;
width: 60%;
}